body {
  background-color: #f3f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  margin: 0 auto;
  margin-bottom: 8px;
}
.signup-form {
  background-color: #ffffff;
  border-radius: 20px;
  width: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-title h1 {
  margin-bottom: 4px;
  font-size: 25px;
}

p {
  font-size: 12px;
  color: #bdbdc2;
  text-align: center;
  font-weight: bold;
}

.input-box {
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 11px;
  font-weight: 600;
}

.input-box label {
  color: #8c8c8c;
}
.input-box input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
}

::placeholder {
  color: #bdbdc2;
}

.view-btn {
  font-size: 12px;
  border-radius: 6px;
  background: #ffffff;
  outline: none;
  border: 1px solid skyblue;
  height: 30px;
  padding: 2px 16px;
  align-self: center;
}

.create-btn {
  width: 100%;
  text-align: center;
  background-color: #488ceb;
  color: #ffffff;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

.create-btn:hover {
  background-color: #2262bb;
}

p a {
  color: #488ceb;
  text-decoration: none;
  margin-left: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ececec inset !important;
}
